@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    //page title
    ViewBag.Title = ("Admin.Catalog.Products.AddNew");
    //@model
    //Layout = "~/Areas/Maintenance/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Unplanned Job
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <br>
        <div class="body">
            <form action="AddUnplannedJobDetails" method="get">

                <div class="container-fluid" style="width: 80%;">
                    <div class="table-responsive">

                        <table class="table">

                            <tr>
                                <td><label for="EquipmentName">Equipment Name</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="EquipmentName" required />

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Job Order">JobOrder</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="JobOrder" required/>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="Title">Title</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Title" required/>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="JobReportedDate">Job Reported Date</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control" name="JobReportedDate" required/>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="ReportedBy">Reported By</label></td>
                                <td>
                                    <select class="form-control show-tick" name="ReportedBy" required>
                                        <option value=""></option>
                                        <option>Chief Engineer</option>
                                        <option>Second Engineer</option>
                                        <option>Third Engineer</option>
                                        <option>Fourth Engineer</option>


                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Status">Status</label></td>
                                <td>
                                    <select class="form-control show-tick" name="Status" required>
                                        <option value=""></option>
                                        <option>Completed</option>
                                        <option>In progress</option>
                                        <option>Pending</option>


                                    </select>
                                </td>
                            </tr>



                            <tr>
                                <td><input type="submit" class="btn btn-primary m-t-15 waves-effect" value="Add" /></td>
                                @*<td><button class="btn btn-primary m-t-15 waves-effect">SUBMIT</button></td>*@

                            </tr>

                        </table>



                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*<h3>Unplanned Jobs</h3>

<form action="AddUnplannedJobDetails" method="get">
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Equipment Name</label>
                <input type="text" class="form-control" name="EquipmentName" />
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Job Order</label>
                <input type="text" class="form-control" name="JobOrder" />
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Title</label>
                <input type="text" class="form-control" name="Title" />
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Job Reported Date</label>
                <input type="date" class="form-control" name="JobReportedDate" />
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Reported By</label>
                <select class="form-control" name="ReportedBy">
                    <option disabled selected>-- Select --</option>
                    <option>Chief Engineer</option>
                    <option>Second Engineer</option>
                    <option>Third Engineer</option>
                    <option>Fourth Engineer</option>
                </select>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Status</label>
                <select class="form-control" name="Status">
                    <option disabled selected>-- Select --</option>
                    <option>Completed</option>
                    <option>In progress</option>
                    <option>Pending</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row pt-2">
            <div class="col-md-6">
                <label></label>
                <input type="submit" class="btn btn-primary" value="Add" />
            </div>
        </div>
    </div>
</form>*@
