<meta name="referrer" content="no-referrer" />

@*<div class="row" id="SearchSection">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>

                        Master Data Management

                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*<div style="height:100vh; overflow:auto">

        <h4><font color="#0E5679">Master Data Management</font></h4>
        <admin-tabstrip name="mdm" SetTabPos="true">
            <items>
                <tabstrip-item text="Maker" tab-index="0" id="tabMaker" class="tabMaker">
                    <content>
                        <div id="divMaker">
                            <partial name="MakerList" />

                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Maker Model" tab-index="1" id="tabMakerModel">
                    <content>
                        <div id="divMakerModel">
                        </div>
                    </content>
                </tabstrip-item>

                <tabstrip-item text="Job Status" tab-index="3" id="tabJobStatus">
                    <content>
                        <div id="divJobStatus">

                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Equipment Type" tab-index="4" id="tabEquipmentType">
                    <content>
                        <div id="divEquipmentType">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Job Type" tab-index="5" id="tabjobType">
                    <content>
                        <div id="divJobType">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="CBM" tab-index="6" id="tabCBM">
                    <content>
                        <div id="divCBM">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="CBM Configure" tab-index="6" id="tabCbmConfigure">
                    <content>
                        <div id="divCbmConfigure">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Department" tab-index="7" id="tabDepartment">
                    <content>
                        <div id="divDepartment">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Reported By" tab-index="2" id="tabReportedBy">
                    <content>
                        <div id="divReportedBy">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Location" tab-index="7" id="tabLocation">
                    <content>
                        <div id="divLocation">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Safety level" tab-index="8" id="tabSafetyLevel">
                    <content>
                        <div id="divSafetyLevel">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Equipment Status" tab-index="9" id="tabEquipmentStatus">
                    <content>
                        <div id="divEquipmentStatus">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Frequency" tab-index="10" id="tabFrequency">
                    <content>
                        <div id="divFrequency">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Frequency Type" tab-index="10" id="tabFrequencyType">
                    <content>
                        <div id="divFrequencyType">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Rank" tab-index="11" id="tabRank">
                    <content>
                        <div id="divRank">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Maintenance type" tab-index="12" id="tabMaintenanceType">
                    <content>
                        <div id="divMaintenanceType">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Priority" tab-index="13" id="tabPriority">
                    <content>
                        <div id="divPriority">
                        </div>
                    </content>
                </tabstrip-item>
                <tabstrip-item text="Critical" tab-index="14" id="tabCritical">
                    <content>
                        <div id="divCritical">
                        </div>
                    </content>
                </tabstrip-item>
            </items>
        </admin-tabstrip>
    </div>*@
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<div class="col-md-12">
    <div class="x_panel light form-fit">
        <div class="x_title">
            <div class="caption" style="color:#0E5679;font-weight:900">
                <i class="fa fa-cubes" style="color:#0E5679"></i>
                Master Data Management
            </div>
            <select class="js-example-basic-single" name="state" id="Cid" style="width:250px; padding-left: 10px;">
                <option value="empty" id="empty" disabled selected>Select MDM</option>
                <option value="tabMaker" id="tabMaker">Maker</option>
                <option value="tabMakerModel" id="tabMakerModel">Maker Model</option>
                <option value="JobStatus" id="JobStatus">Job Status</option>
                <option value="reportedBy" id="reportedBy">Reported By</option>
                <option value="EquipmentType" id="EquipmentType">Equipment Type</option>
                <option value="JobType" id="JobType">Job Type</option>
                <option value="CBM" id="CBM">CBM</option>
                <option value="CBMConfigure" id="CBMConfigure">CBM Configure</option>
                <option value="Department" id="Department">Department</option>
                <option value="Location" id="Location">Location</option>
                <option value="Safetylevel" id="Safetylevel">Safety level</option>
                <option value="EquipmentStatus" id="EquipmentStatus">Equipment Status</option>
                <option value="Frequency" id="Frequency">Frequency</option>
                <option value="FrequencyType" id="FrequencyType">Frequency Type</option>
                <option value="Rank" id="Rank">Rank</option>
                <option value="MaintenanceType" id="MaintenanceType">Maintenance type</option>
                <option value="Priority" id="Priority">Priority</option>
                <option value="Critical" id="Critical">Critical</option>
            </select>

        </div>

        <div class="x_content">
            <div id="vessel-grid"></div>
        </div>
    </div>
</div>
<div id="example">
   <div id="pWiewLoader">

   </div>
</div>

@*<div style="height:100vh; overflow:auto">
    </div>*@

<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

@*</div>*@
<script>
    $(function () {

        $("#Cid").on("change", function(){

            $("#pWiewLoader").empty();
            var SelectedOptionId = $(this).children(":selected").attr("id");
            console.log(SelectedOptionId);
            if (SelectedOptionId == "tabMakerModel") {

                $("#pWiewLoader").load("MakerModelList");
            }
            else if (SelectedOptionId == "JobStatus") {

                $("#pWiewLoader").load("ReadJobStatusDetails");
            }
            else if (SelectedOptionId == "tabMakerModel") {

                $("#pWiewLoader").load("MakerModelList");
            }
            else if (SelectedOptionId == "reportedBy") {

                $("#pWiewLoader").load("ReadReportedByDetails");
            }
            else if (SelectedOptionId == "EquipmentType") {

                $("#pWiewLoader").load("ReadEquipmentTypeDetails");
            }
            else if (SelectedOptionId == "JobType") {

                $("#pWiewLoader").load("ReadJobTypeDetails");
            }
            else if (SelectedOptionId == "CBM") {

                $("#pWiewLoader").load("CBMList");
            }
            else if (SelectedOptionId == "CBMConfigure") {

                $("#pWiewLoader").load("CBMMappingList");
            }
            else if (SelectedOptionId == "Department") {

                $("#pWiewLoader").load("ReadDepartment");
            }
            else if (SelectedOptionId == "Location") {

                $("#pWiewLoader").load("ReadLocation");
            }
            else if (SelectedOptionId == "Safetylevel") {

                $("#pWiewLoader").load("ReadSafetyLevel");
            }
            else if (SelectedOptionId == "EquipmentStatus") {

                $("#pWiewLoader").load("ReadEquipmentStatusDetails");
            }
            else if (SelectedOptionId == "Frequency") {

                $("#pWiewLoader").load("ReadFrequencyDetails");
            }
            else if (SelectedOptionId == "FrequencyType") {

                $("#pWiewLoader").load("ReadFrequencyTypeDetails");
            }
            else if (SelectedOptionId == "Rank") {

                $("#pWiewLoader").load("ReadRankDetails");
            }
            else if (SelectedOptionId == "MaintenanceType") {

                $("#pWiewLoader").load("ReadMaintenanceTypeDetails");
            }
            else if (SelectedOptionId == "Priority") {

                $("#pWiewLoader").load("ReadPriorityDetails");
            }
            else if (SelectedOptionId == "Critical") {

                $("#pWiewLoader").load("ReadCritical");
            }
            else if (SelectedOptionId == "tabMaker") {

                $("#pWiewLoader").load("MakerList");
            }

        })

    });
</script>
