

<div class="row" id="SearchSection">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-cubes"></i>

                    Master Data Management

                </div>
            </div>
        </div>
    </div>
</div>
<admin-tabstrip name="mdm" SetTabPos="true">
    <items>

        <tabstrip-item text="Maker" tab-index="0">
            <content>
                <div>
                    <partial name="MakerList" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="Maker Model" tab-index="1">
            <content>
                <div>
                    <partial name="MakerModelList" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="Reported By" tab-index="2">
            <content>
                <div>
                    <partial name="ReadReportedByDetails" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="Job Status" tab-index="3">
            <content>
                <div>
                    <partial name="ReadJobStatusDetails" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="Equipment Component" tab-index="4">
            <content>
                <div>
                    <partial name="ReadEquipmentTypeDetails" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="Job Type" tab-index="5">
            <content>
                <div>
                    <partial name="ReadJobTypeDetails" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="CBM" tab-index="6">
            <content>
                <div>
                    <partial name="CBMList" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="CBM Mapping" tab-index="6">
            <content>
                <div>
                    <partial name="CBMMappingList" />
                </div>
            </content>
        </tabstrip-item>

    </items>
</admin-tabstrip>


