<meta name="referrer" content="no-referrer" />

<div class="row" id="SearchSection">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-cubes"></i>

                    Master Data Management

                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:100vh; overflow:auto">
    <admin-tabstrip name="mdm" SetTabPos="true">
        <items>

            <tabstrip-item text="Maker" tab-index="0" id="tabMaker" class="tabMaker">
                <content>
                    <div id="divMaker">
                        @*<partial name="MakerList" />*@

                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Maker Model" tab-index="1" id="tabMalerModel">
                <content>
                    <div>
                        <partial name="MakerModelList" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Reported By" tab-index="2" id="tabReportedBy">
                <content>
                    <div>
                        <partial name="ReadReportedByDetails" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Job Status" tab-index="3" id="tabJobStatus">
                <content>
                    <div>
                        <partial name="ReadJobStatusDetails" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Equipment Type" tab-index="4" id="tabEquipmentType">
                <content>
                    <div>
                        <partial name="ReadEquipmentTypeDetails" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Job Type" tab-index="5" id="tabjobType">
                <content>
                    <div>
                        <partial name="ReadJobTypeDetails" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="CBM" tab-index="6" id="tabCBM">
                <content>
                    <div>
                        <partial name="CBMList" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="CBM Configure" tab-index="6" id="tabCbmConfigure">
                <content>
                    <div>
                        <partial name="CBMMappingList" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Department" tab-index="7" id="tabDepartment">
                <content>
                    <div>
                        <partial name="ReadDepartment" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Location" tab-index="7" id="tabLocation">
                <content>
                    <div>
                        <partial name="ReadLocation" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Safety level" tab-index="8" id="tabSafetyLevel">
                <content>
                    <div>
                        <partial name="ReadSafetyLevel" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Equipment Status" tab-index="9" id="tabEquipmentStatus">
                <content>
                    <div>
                        <partial name="ReadEquipmentStatusDetails" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Frequency" tab-index="10" id="tabFrequency">
                <content>
                    <div>
                        <partial name="ReadFrequencyDetails" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Frequency Type" tab-index="10" id="tabFrequencyType">
                <content>
                    <div>
                        <partial name="ReadFrequencyTypeDetails" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Rank" tab-index="11" id="tabRank">
                <content>
                    <div>
                        <partial name="ReadRankDetails" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Maintenance type" tab-index="12" id="tabMaintenanceType">
                <content>
                    <div>
                        <partial name="ReadMaintenanceTypeDetails" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="Priority" tab-index="13" id="tabPriority">
                <content>
                    <div>
                        <partial name="ReadPriorityDetails" />
                    </div>
                </content>
            </tabstrip-item>
        </items>
    </admin-tabstrip>
</div>

<script>
    $(function () {
        $("#tabMaker").click(function () {
            alert("hai");
             $("#divMaker").load("MakerList");
            LoadMakerGrid();
        });
       
      
    });
</script>