<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" grandResource="Maintenance.Home" controller="Home" action="Overview">
    
    <siteMapNode SystemName="Dashboard" grandResource="Maintenance.Dashboard" controller="DashBoard" action="Index" IconClass="icon-home">
    </siteMapNode>
   
    <siteMapNode SystemName="Equipments" grandResource="Maintenance.PUJobs.PlannedJobs" controller="Equipments" action="List" IconClass="icon-home">
    </siteMapNode>

      <siteMapNode SystemName="UnPlannedJobs" grandResource="Maintenance.PUJobs.UnPlannedJobs"  controller="UnplannedJobs" action="List" IconClass="icon-home"></siteMapNode>  
 
    
    <siteMapNode SystemName="Breakdown" grandResource="Maintenance.BreakdownJobs" controller="BreakdownJob" action="List" IconClass="icon-home">
    </siteMapNode>
    
    
    <siteMapNode SystemName="DueJobOrders" grandResource="Maintenance.DueJobOrders" controller="DueJob" action="List" IconClass="icon-home">
    </siteMapNode>
    

    <siteMapNode SystemName="RunningHours" grandResource="Maintenance.RunningHours" controller="RunningHour" action="List" IconClass="icon-home">
    </siteMapNode>
    
    <siteMapNode SystemName="PostponedJobs" grandResource="Maintenance.PostponedJobs" controller="PostponeJob" action="List" IconClass="icon-home">
    </siteMapNode>
    
     <siteMapNode SystemName="Reports" grandResource="Reports" controller="#" action="#" IconClass="icon-home">
       <siteMapNode SystemName="UnplannedJob" grandResource="UnplannedJob" controller="UnplannedJobs" action="List1" IconClass="icon-home"></siteMapNode>
       <siteMapNode SystemName="BreakdownJob" grandResource="BreakdownJob" controller="BreakdownJob" action="List1" IconClass="icon-home"></siteMapNode>
       <siteMapNode SystemName="Duejob" grandResource="Duejob" controller="DueJob" action="List1" IconClass="icon-home"></siteMapNode>
       <siteMapNode SystemName="PostponedJobs" grandResource="PostponedJobs" controller="PostponeJob" action="List1" IconClass="icon-home"></siteMapNode>
      <siteMapNode SystemName="JobHistory" grandResource="JobHistory" controller="JobHistory" action="" IconClass="icon-home"></siteMapNode>
      <siteMapNode SystemName="EquipmentQuery" grandResource="EquipmentQuery" controller="EquipmentQuery" action="" IconClass="icon-home"></siteMapNode>
      <siteMapNode SystemName="JobOverView" grandResource="JobOverView" controller="JobOverView" action="" IconClass="icon-home"></siteMapNode>
      
     </siteMapNode>
    
    <siteMapNode SystemName="Analysis" grandResource="Maintenance.Analysis" controller="" action="" IconClass="icon-home">
    </siteMapNode>
    <siteMapNode SystemName="MDM" grandResource="maintenance.MDM" controller="Mdm" action="MdmList" IconClass="icon-home">



    </siteMapNode>

    <siteMapNode SystemName="Utilities" grandResource="Maintenance.Utilities" controller="#" action="#" IconClass="icon-home">
    <siteMapNode SystemName="EquipmentImport" grandResource="Maintenance.Utilities.EquipmentImport" controller="ImportEquipment" action="List" IconClass="icon-home"></siteMapNode>
    <siteMapNode SystemName="SparePartImport" grandResource="Maintenance.Utilities.SparePartImport" controller="SparePartImport" action="Index" IconClass="icon-home"></siteMapNode>
    <siteMapNode SystemName="JobplanImport" grandResource="Maintenance.Utilities.JobplanImport" controller="JobplanImport" action="Index" IconClass="icon-home"></siteMapNode>
    <siteMapNode SystemName="VesselList" grandResource="VesselList" controller="Vessel" action="List" IconClass="icon-home"></siteMapNode>

    </siteMapNode>
    
    
    
    
    <siteMapNode SystemName="Third party plugins" grandResource="Maintenance.Plugins" />
  </siteMapNode>
</siteMap>

