<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" grandResource="Maintenance.Home" controller="Home" action="Overview">
    
    <siteMapNode SystemName="Dashboard" grandResource="Maintenance.Dashboard" controller="Register" action="Success" IconClass="icon-home">
    </siteMapNode>
    
    <siteMapNode SystemName="EquipmentMaster" grandResource="Maintenance.EquipmentMaster" controller="" action="" IconClass="icon-home">
    </siteMapNode>
    
    <siteMapNode SystemName="PUJobs" grandResource="Maintenance.PUJobs"  controller="" action="" IconClass="icon-home">
      <siteMapNode SystemName="PlannedJobs" grandResource="Maintenance.PUJobs.PlannedJobs"  controller="" action="" IconClass="icon-home"></siteMapNode>
      <siteMapNode SystemName="UnPlannedJobs" grandResource="Maintenance.PUJobs.UnPlannedJobs"  controller="UnplannedJobs" action="List" IconClass="icon-home"></siteMapNode>  
    </siteMapNode>
    
    <siteMapNode SystemName="Breakdown" grandResource="Maintenance.BreakdownJobs" controller="BreakdownJob" action="List" IconClass="icon-home">
    </siteMapNode>
    
    
    <siteMapNode SystemName="DueJobOrders" grandResource="Maintenance.DueJobOrders" controller="" action="" IconClass="icon-home">
    </siteMapNode>

    <siteMapNode SystemName="RunningHours" grandResource="Maintenance.RunningHours" controller="" action="" IconClass="icon-home">
    </siteMapNode>
    
    <siteMapNode SystemName="PostponedJobs" grandResource="Maintenance.PostponedJobs" controller="" action="" IconClass="icon-home">
    </siteMapNode>
    
    <siteMapNode SystemName="Analysis" grandResource="Maintenance.Analysis" controller="" action="" IconClass="icon-home">
    </siteMapNode>
    
    <siteMapNode SystemName="Utilities" grandResource="Maintenance.Utilities" controller="#" action="#" IconClass="icon-home">
    <siteMapNode SystemName="EquipmentImport" grandResource="Maintenance.Utilities.EquipmentImport" controller="ImportEquipment" action="List" IconClass="icon-home"></siteMapNode>
    <siteMapNode SystemName="SparePartImport" grandResource="Maintenance.Utilities.SparePartImport" controller="SparePartImport" action="Index" IconClass="icon-home"></siteMapNode>
      <siteMapNode SystemName="JobplanImport" grandResource="Maintenance.Utilities.JobplanImport" controller="JobplanImport" action="Index" IconClass="icon-home"></siteMapNode>

    </siteMapNode>
    
    <siteMapNode SystemName="MDM" grandResource="maintenance.MDM" controller="#" action="#" IconClass="icon-home">
      
     <siteMapNode SystemName="Addmaker" grandResource="Maintenance.mdm.PMSMaker" controller="Maker" action="AddMaker" IconClass="icon-home"></siteMapNode>
      <siteMapNode SystemName="Viewmaker" grandResource="Maintenance.mdm.PMSMaker.View" controller="Maker" action="List" IconClass="icon-home"></siteMapNode>
    
    </siteMapNode>
    
    
    
    <siteMapNode SystemName="Third party plugins" grandResource="Maintenance.Plugins" />
  </siteMapNode>
</siteMap>

