@using Grand.Core.Plugins
@using Grand.Services.Security
@using Grand.Framework.Menu
@inject IPluginFinder pluginFinder
@inject IPermissionService permissionService
@{
    //load sitemap

    var siteMap = new XmlSiteMap();
    siteMap.LoadFrom("~/Areas/Maintenance/sitemap.config");

}

@*<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="width:260px; border: 0; ">
            <a href="~/Admin" class="site_title">
            <div class="nav toggle" style="width:30%;">
                <a id="menu_toggle">
                    <img class="img-fluid-thumbnail" src="~/administration/build/images/O3 Log1.png" width="60px" height="45px" />

                </a>

            </div>
            <div style="width:70%; float:right;">
                <span class="site_title">O3 Maintenance</span>
            </div>



            </a>
        </div>
        <div class="clearfix"></div>
        <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
            <div class="menu_section">
                <ul class="nav side-menu page-sidebar-menu" style="position: absolute;display: block;width: 260px;">*@
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("Success", "Register", new { area = "Maintenance" })" class="site_title"><img class="img-fluid-thumbnail" src="~/administration/build/images/O3 Log1.png" width="60px" height="45px" /> <span><b>Maintenance</b></span></a>
        </div>
        <div class="clearfix"></div>
        <div class="main_menu_side hidden-print main_menu" id="sidebar-menu" style="max-height: 670px;overflow: auto; scroll ">
            <div class="menu_section">
                <ul class="nav side-menu page-sidebar-menu">
                    @{
                        //standard (default) items
                        var rootNode = siteMap.RootNode;

                        //plugins
                        var adminMenuPlugins = pluginFinder.GetPlugins<IAdminMenuPlugin>().ToList();
                        foreach (var adminMenuPlugin in adminMenuPlugins)
                        {
                            adminMenuPlugin.ManageSiteMap(rootNode);
                        }
                        //"Plugins" menu item should be visible when it has some child nodes
                        var pluginNode = rootNode.ChildNodes.FirstOrDefault(x => x.SystemName == "Third party plugins");
                        if (pluginNode != null && pluginNode.Visible)
                        {
                            var hasManagePluginsPermission = await permissionService.Authorize(Grand.Services.Security.StandardPermissionProvider.ManagePlugins);
                            pluginNode.Visible = hasManagePluginsPermission && pluginNode.ChildNodes.Any(x => x.Visible);
                        }
                    }
                    @foreach (var item in rootNode.ChildNodes.Where(x => x.Visible))
                    {
                        <partial name="_MenuItem" model="item" />
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    #sidebar-menu::-webkit-scrollbar {
        width: 10px;
    }
</style>