<!DOCTYPE html>
<html lang="en">
<head>
    <title>O3 | Maitenance Login</title>
    <meta charset="UTF-8">
    <link rel="icon" href="~/administration/build/images/O3 Log1.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/MaintenanceAdmin/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/MaintenanceAdmin/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    @RenderBody()




    <!--===============================================================================================-->
    <script src="~/MaintenanceAdmin/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaintenanceAdmin/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaintenanceAdmin/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/MaintenanceAdmin/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaintenanceAdmin/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaintenanceAdmin/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/MaintenanceAdmin/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaintenanceAdmin/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaintenanceAdmin/login/js/main.js"></script>

</body>
</html>