

<div class="body" id="_general">
        <div class="demo-masked-input">
            <div class="row clearfix border-secondary">

                <div class="col-md-3" style="float:left">
                    <a  href="#" onclick="AddEquipment(this); return false;"
                       
                       class="btn btn-success"                         
                        style="width:auto;position:relative;right:-25px">
                        <i class="fa fa-pencil"></i>
                        <span class="hidden-xs">AddEquipment</span>
                    </a>
                </div>
                <div class="col-md-4" style="float:left">
                    <button class="btn btn-success makeEditable col-md-offset-10 c"
                            type="submit" name="Edit" style="width:90px;position:relative;right:-25px">
                        <i class="fa fa-pencil"></i>
                        <span class="hidden-xs"> Edit</span>
                    </button>

                </div>
                <form action="GeneralEdit" method="post">
                    <div class="col-md-2" style="float:right">

                        <input type="submit" value="Save" class="btn btn-success " style="width:90px" />
                    </div>


                    <div class="col-md-4">
                        <b>Equipment Code</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                @*@Html.TextBoxFor(m => m.Sub2_number, new { disabledd = "disabled", id = "id1" })<br />*@
                                <input type="text" value="" name="code" class="form-control money-euro" placeholder="" id="id17" disabled>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <b>Equipment Name</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">

                                <input type="text" value="" class="form-control money-euro" placeholder="" id="id1" disabled>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <b>Safety Level</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" name="safety" value="" class="form-control money-euro" placeholder="" id="id5" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <b>Maker</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="maker" class="form-control money-euro" placeholder="" id="id6" disabled>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <b>Model</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="model" class="form-control money-euro" placeholder="" id="id7" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <b>Equipment Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" name="eqtype" value="" class="form-control money-euro" placeholder="" id="id8" disabled>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <b>Drawing Number</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="drawno" class="form-control money-euro" placeholder="" id="id9" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <b>Department</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="dept" class="form-control money-euro" placeholder="" id="id10" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <b>Location</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="location" class="form-control money-euro" placeholder="" id="id11" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <b>Equipment Status</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="eqstatus" class="form-control money-euro" placeholder="" id="id12" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <b>Remark</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="remark" class="form-control money-euro" placeholder="" id="id13" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <b>Vessel</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" class="form-control money-euro" placeholder="" id="id14" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <b>Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" value="" name="type" class="form-control money-euro" placeholder="" id="id15" disabled>
                            </div>
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>
    </div>


    <style>
        #_general input[type=text] {
            border: none;
            border-bottom: 1px solid #337ab7;
        }

        #_general .input-group-addon {
            border: none;
            background-color: #ffff;
            color: #0f5f86;
            line-height: 3;
        }
    </style>



    <script type="text/javascript">
        $(function () {
            $(".makeEditable").click(function () {
                $('input:text').removeAttr("readonly");
                //$("#id5").prop("readonly", false);
                //$(".name2").prop("readonly", false);
                //$(".name3").prop("readonly", false);
                //$(".name4").prop("readonly", false);
                //$(".name5").prop("readonly", false);
                //$(".name6").prop("readonly", false);
                //$(".name7").prop("readonly", false);
                //$(".name8").prop("readonly", false);
                //$(".name9").prop("readonly", false);
                //$(".name10").prop("readonly", false);
                //  $(".name11").prop("readonly", false);
            });
            $(".silpa").click(function () {
                $('input:text').attr("readonly", "readonly");
            });//this


       


        });


        function AddEquipment(data) {
            

      var url = location.origin + '/Maintenance/Equipments/AddEquipment?equipment_Code=' + window.selectedEquipmentCode;
            window.location.href = url;
           
            @*$.ajax({
                type: "GET",
                url: "@Url.Action("AddEquipments")" + "?equipmentCode=" + window.selectedEquipmentCode,
               crossDomain: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (datas) {
                    var data = JSON.parse(datas);
                     window.location.href = datas;
                }
            });*@
        }
    </script>
