@inject AdminAreaSettings adminAreaSettings

<div class="x_title">
    <div class="actions">
        <div class="btn-group btn-group-devided util-btn-margin-bottom-5">
            <button type="button" id="btnSelectRow1" value="GetValue" class="btn green" data-toggle="modal" data-target="#myModal1"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" id="btnSelectRowEdit" value="GetValue" class="btn green" data-toggle="modal" data-target="#edit"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <a href="@Url.Action("AddSparepart")" class="btn green"><i class="fa fa-plus"></i><span class="hidden-xs"> </span></a>
            <vc:admin-widget widget-zone="vendor_list_buttons" additional-data="null" />

        </div>
    </div>
</div>

<div id="example">
    <antiforgery-token />
    <div id="grid3"></div>


    <script>
        $(document).ready(function () {
            loadSpareparts();
            $("#btn1").click(function () {

                  loadSpareparts();

            });
        });

        function loadSpareparts() {
             $("#grid3").kendoGrid({
                dataSource: {

                    transport: {

                         read:
                             {
                                url: "@Html.Raw(Url.Action("ReadSpareParts", "Equipments","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                        },
                        update:
                            {
                                url: "@Html.Raw(Url.Action("UpdateSpareParts","Equipments","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                            },
                            create:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","EquipmentMaster","Maintenance"))",
                                type: "POST",
                                dataType: "json"
                            }
                    },
                    batch: true,
                    pageSize: 60,
                    schema:
                    {
                               data: "Data",
                               total: "Total",
                               errors: "Errors",
                        model:
                        {
                            id : "Id",
                            fields:
                            {
                              Id: { validation: { required: true } },
                              EquipmentCode: { type: "string" },
                              EquipmentName: { type: "string" },
                              SPAR_PARTS_DESCRIPTION: { type: "string" },
                              PART_NUMBER: { type: "string" },
                              DRAWING_NO: { type: "string" },
                              SPECIFICATION: { type: "string" },
                              POSITION_NUMBER: { type: "string" }
                            }
                        }
                    },

                },
                sortable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                 scrollable:
                    {
                       endless: true
                    },

                selectable: true,
                allowCopy: true,
                    height: 540,
                 columns: [
                    
                    {
                    field: "EquipmentCode",
                    title: "Equipment Code",
                    width: 280
                },

                    {
                    field: "EquipmentName",
                    title: "Equipment Name",
                    width: 280
                }, {
                    field: "SPAR_PARTS_DESCRIPTION",
                    title: "Description",
                    width: 220

                },
                     {
                    field: "PART_NUMBER",
                    title: "Part Number",
                    width: 150
                },{
                    field: "DRAWING_NO",
                    title: "Drawing No",
                    width: 150
                },{
                    field: "SPECIFICATION",
                    title: "Specifications",
                    width: 150
                },{
                    field: "POSITION_NUMBER",
                    title: "Position Number",
                    width: 200
                },{
                    field: "Criticals",
                    title: "Critical",
                    width: 200
                },{
                    command: ["edit"],
                    title: "&nbsp;",
                    width: 100
                  }],
                    editable: "inline"

            });
        }

         function customBoolEditor(container, options) {
                        var guid = kendo.guid();
                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
                    }

                    function additionalData() {

                var data = { selectedEquipmentCode : window["selectedEquipmentCode"] };
                data.selectedEquipmentCode = window["selectedEquipmentCode"];
                       // alert("Equipment Selected=_"+ window["selectedEquipmentCode"]);
                addAntiForgeryToken(data);
                return data;
        }


    </script>
</div>
<script>
    $("#btnSelectRow1").click(function () {

        var grid = $("#grid3").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());

        $("#lblEquipmentCode").text(selectedItem.EquipmentCode);
        $("#lblEquipmentName").text(selectedItem.EquipmentName);
        $("#lblSPAR_PARTS_DESCRIPTION").text(selectedItem.SPAR_PARTS_DESCRIPTION);
        $("#lblPART_NUMBER").text(selectedItem.PART_NUMBER);
        $("#lblDRAWING_NO").text(selectedItem.DRAWING_NO);
        $("#lblSPECIFICATION").text(selectedItem.SPECIFICATION);
        $("#lblPOSITION_NUMBER").text(selectedItem.POSITION_NUMBER);


        var ecode = selectedItem.EquipmentCode;
        var EquipmentName = selectedItem.EquipmentName;
        var SparepartDescription = selectedItem.SPAR_PARTS_DESCRIPTION;
        var PartNo = selectedItem.PART_NUMBER;
        var Specification = selectedItem.SPECIFICATION;
        //var lastDoneDate = selectedItem.LAST_DONE_DATE;
        var PositionNumber = selectedItem.POSITION_NUMBER;

        document.getElementById("EquipmentCode").value = ecode;
        document.getElementById("EquipmentName").value = EquipmentName;
        document.getElementById("Sparepart").value = SparepartDescription;
        document.getElementById("PartNo").value = PartNo;
        document.getElementById("Specification").value = Specification;
        document.getElementById("PositionNo").value = PositionNumber;


    })
</script>


<div id="edit" class="modal fade" role="dialog" style="top:auto;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body" style="height:350px;overflow:auto">
            hlooooooooooooo

        </div>
    </div>
</div>
            <div id="myModal1" class="modal fade" role="dialog" style="top:auto;">

                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="caption" style="color:#0E5679;font-weight:900">
                            <i class="fa fa-cubes" style="color:#0E5679"></i>
                            SPAREPART DETAILS
                        </div>
                    </div>

                    <div class="modal-body" style="height:350px;overflow:auto;border:10px;border-color:#0E5679;">

                        <div id="example">
                            <div class="demo-section k-content">
                                <div id="tabstrip" style="color:#0E5679;">

                                    <div>
                                        <span class="rainy">&nbsp;</span>
                                        <div class="row clearfix">

                                            <div class="col-md-3">
                                                <b>Equipment Code</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">turned_in_not</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input type="text" id="EquipmentCode" readonly value="" class="form-control money-euro" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <b>Equipment Name</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">turned_in_not</i>
                                                    </span>
                                                    <div class="form-line">

                                                        <input type="text" id="EquipmentName" readonly value="" class="form-control time24" placeholder="">

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <b>Sparepart Description</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">turned_in_not</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input type="text" id="Sparepart" readonly value="" class="form-control key" placeholder="">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <b>Part Number</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">turned_in_not</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input type="text" id="PartNo" readonly value="" class="form-control key" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <b>Specification</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">turned_in_not</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input type="text" id="Specification" readonly value="" class="form-control key" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <b>Position Number</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">turned_in_not</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input type="text" id="PositionNo" readonly value="" class="form-control key" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <style>



                                #tabstrip h2 {
                                    font-weight: lighter;
                                    font-size: 5em;
                                    line-height: 1;
                                    padding: 0 0 0 30px;
                                    margin: 0;
                                }

                                    #tabstrip h2 span {
                                        background: none;
                                        padding-left: 5px;
                                        font-size: .3em;
                                        vertical-align: top;
                                    }

                                #tabstrip p {
                                    margin: 0;
                                    padding: 0;
                                }
                            </style>

                            <script>
                                $(document).ready(function () {
                                    $("#tabstrip").kendoTabStrip({
                                        animation: {
                                            open: {
                                                effects: "fadeIn"
                                            }
                                        }
                                    });
                                });
                            </script>
                        </div>





                    </div>

                </div>
            </div>


