<div class="tab-content" >

   
    <div role="tabpanel" class="tab-pane fade " id="general">
     
       <partial name="_General" model="Model" />
    </div>
        @*---------------------------------------------------------Jobplan section---------------------------------------------------------------------*@
        <div role="tabpanel" class="tab-pane fade in actives" id="jobplan">


            <partial name="_JobPlan" model="Model" />
        </div>
        @*--------------------------------------------------------------------SpareParts------------------------------------------------------*@
        <div role="tabpanel" class="tab-pane fade" id="spareparts">

            <partial name="_SparePart" model="Model" />
        </div>
    </div>