
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Add Vessel
            </h2>

            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <br>
        <div class="body">
            <form action="AddVesselDetails" method="post" enctype="multipart/form-data">

                <div class="container-fluid" style="width: 80%;">
                    <div class="table-responsive">

                        <table class="table">

                            <tr>
                                <td><label for="VesselName">Vessel Name</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Vessel_name" required />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="VesselType">Vessel Type</label></td>
                                <td>
                                    <select class="form-control show-tick" name="Vessel_type" required>
                                        <option value=""></option>
                                        <option>Bulk</option>
                                        <option>Tanker</option>
                                        <option>LNG</option>
                                        <option>Container</option>
                                        <option>LPG</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="IMO">IMO</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="IMO" required />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Flag">Flag</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Flag" required />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="HullNo">Hull No</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Hull_no" required />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="Class">Class</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Class" required />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Shipyard">Shipyard</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Shipyard" required />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="MainEngine">Main Engine</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Main_Engine" required />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="AuxiliaryEngine">Auxiliary Engine</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Auxiliary_Engine" required />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="file">Upload Picture</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="file" class="form-control" name="file" />
                                        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                @Html.AntiForgeryToken()
                                <td><input type="submit" class="btn btn-primary m-t-15 waves-effect" value="Add Vessel" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
   




