@model CountryReportModel
@{
    //page title
    ViewBag.Title = T("Admin.Reports.Country").Text;
}

<antiforgery-token />

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption level-caption">
                    <i class="fa fa-list-alt"></i>
                    Portwise Report
                </div>

            </div>
            <div class="x_content form">
                <vc:admin-widget widget-zone="country_report" additional-data="Model" />
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="x_content">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <admin-label asp-for="StartDate" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-input asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <admin-label asp-for="EndDate" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-input asp-for="EndDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <admin-label asp-for="OrderStatusId" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-select asp-for="OrderStatusId" asp-items="Model.AvailableOrderStatuses" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3">
                                            Products
                                            <i class="help icon-question" data-placement="left" data-toggle="tooltip" title="" data-original-title=""></i>
                                        </label>
                                        <div class="col-md-9 col-sm-9">
                                                <select data-val="true" id="ProductId" class="form-control k-input ">
                                                    <option value="">All</option>
                                                    <option value="10">ScanSafari 005</option>
                                                    <option value="20">AIR FRESHENER 420ML </option>
                                                    <option value="30">ASH TRAY STAINLESS STEEL, DIVIDE & DROP 120MM DIAM</option>
                                                    <option value="35">Baby/Toddler Insert for Insulated Immersion Suit SCAA/YC</option>
                                                    <option value="40">ScanSafeBelt</option>
                                                    <option value="50">BATH TOWEL</option>
                                                </select>
                                        </div>  
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                                            <button class="btn btn-success filter-submit" id="search-countryreport">
                                                <i class="fa fa-search"></i> @T("Admin.Reports.Country.RunReport")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="x_content">
                                    <div id="osm-map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<link href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet" />
<script>
    // Where you want to render the map.
    var element = document.getElementById('osm-map');

    // Height has to be set. You can do this in CSS too.
    element.style = 'height:400px;';

    // Create Leaflet map on map element.
    var map = L.map(element);

    // Add OSM tile leayer to the Leaflet map.
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Target's GPS coordinates.
    var target = L.latLng('25.0236', '55.0403');

    // Set map's center to target with zoom 14.
    map.setView(target, 2);

    // Place a marker on the same location.
    L.marker(target).addTo(map).bindPopup("<b>1 requisition(s)</b><br />Port of Jebel Ali, Dubai").openPopup();
</script>