@model Grand.Web.Areas.Maintenance.DomainModels.RegisterModel

@{
     ViewBag.Title = T("Maintenance.Title.AddRegister").Text;
    Layout = "~/Areas/Maintenance/Views/Shared/RegistrationLogin_Layout.cshtml";
}


<div class="limiter">
    <div class="container-login100" style="background-image: url(MaintenanceAdmin/login/images/bg.jpg);">
       
        <div class="wrap-login100">

            <span class="login100-form-logo">
                <img width="80%" height="70%" src="~/MaintenanceAdmin/img/logo2.png">
            </span>
            <span class="login100-form-title p-b-34 p-t-27">
                Registration Desk
            </span>
            <form action="AddRegisterlDetails" method="Get">
                <div class="wrap-input100 validate-input" data-validate="Enter firstname">
                    <input asp-for="Firstname" class="input100" placeholder="First Name" name="Firstname" />
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    <span asp-validation-for="Firstname" class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input asp-for="Secondname" class="input100" placeholder="Last Name" name="Secondname" />
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    <span asp-validation-for="Secondname" class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input asp-for="Email" class="input100" placeholder="Email ID" name="Email" />
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    <span asp-validation-for="Email" class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input type="password" asp-for="Password" class="input100" placeholder="Password" name="Password" />
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <span asp-validation-for="Password" class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input type="password" asp-for="ConfirmPassword" class="input100" placeholder="Confirm Password" name="ConfirmPassword" />
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <span asp-validation-for="ConfirmPassword" class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" value="Create">SignUp</button>
                </div>
            </form>
        </div>
    </div>

</div>
