@model Grand.Web.Areas.Maintenance.DomainModels.RegisterModel

@{
    ViewBag.Title = T("Maintenance.Title.LoginPage").Text;

    Layout = "~/Areas/Maintenance/Views/Shared/RegistrationLogin_Layout.cshtml";
}


<div class="limiter">
    <div class="container-login100" style="background-image: url('MaintenanceAdmin/login/images/bg.jpg');">
        <div class="wrap-login100">
            <form action="Login" method="Get" class="login100-form validate-form">
                <span class="login100-form-logo">
                    <img width="80%" height="70%" src="~/MaintenanceAdmin/img/logo2.png">
                </span>
                <span class="login100-form-title p-b-34 p-t-27">
                    O3 Maintenance
                </span>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                 <input asp-for="Email" class="input100" type="text" name="Email" placeholder="Enter email" />
                 <span asp-validation-for="Username" class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input asp-for="Password" class="input100" type="password" name="Password" placeholder="Enter password" />
                    <span asp-validation-for="Password" class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" value="Login" class="login100-form-btn" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("AddRegister")" class="login100-form-btn">SignUp</a>
                </div>
            </form>
        </div>
    </div>
</div>
